/capstone-admin/node_modules
/capstone-public/node_modules
/capstone-admin/public/build
/capstone-public/public/build
/capstone-admin/public/hot
/capstone-public/public/hot
/capstone-admin/public/storage
/capstone-public/public/storage
/capstone-public/storage/*.key
/capstone-admin/storage/*.key
/capstone-admin/vendor
/capstone-public/vendor
/capstone-admin/.env
/capstone-public/.env
/capstone-admin/.env.backup
/capstone-public/.env.backup
/capstone-admin/.env.production
/capstone-public/.env.production
/capstone-admin/.phpunit.result.cache
/capstone-public/.phpunit.result.cache
/capstone-admin/Homestead.json
/capstone-public/Homestead.json
/capstone-admin/Homestead.yaml
/capstone-public/Homestead.yaml
/capstone-admin/auth.json
/capstone-public/auth.json
/capstone-admin/npm-debug.log
/capstone-public/npm-debug.log
/capstone-admin/yarn-error.log
/capstone-public/yarn-error.log
/capstone-admin/.fleet
/capstone-public/.fleet
/capstone-admin/.idea
/capstone-public/.idea
/capstone-admin/.vscode
/capstone-public/.vscode
/capstone-admin/public/uploads

/capstone-admin/.gitignore
/capstone-public/.gitignore
